In [1]:
import pandas as pd
import openai
import time
from src.utils import *

import warnings
warnings.filterwarnings('ignore')

c:\Users\RodrigoMartínezAlons\anaconda3\Lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [2]:
df_bayer=pd.read_csv('data/bayer_whole_cat.csv')
df_lfa=pd.read_excel('data/MRO_Manufacturer_LFA1_2025_01_27.xlsx')

In [3]:
df_lfa

,OPSYS,LIFNR,LAND1,NAME1,ADRNR,MCOD1,KTOkK,LOEVM
0,PMD,5368080,KY,AAA Technology & Specialties Co,445840,AAA TECHNOLOGY & SPECIALT,YCMP,NaN
1,PMD,5368099,KY,ABCO PLASTICS DIV,445835,ABCO PLASTICS DIV,YCMP,NaN
2,PMD,5368102,KY,Pikotek/AccuSeal,445813,PIKOTEK/ACCUSEAL,YCMP,NaN
3,PMD,5368110,KY,"ACF INDUSTRIES, INC.",445841,"ACF INDUSTRIES, INC.",YCMP,NaN
4,PMD,5368129,KY,Atlantic States Cast Iron Pipe C,445777,ATLANTIC STATES CAST IRON,YCMP,NaN
...,...,...,...,...,...,...,...,...
10978,PMD,8562020,KY,CORROSION PRODUCTS OF TEXAS,1321945,CORROSION PRODUCTS OF TEX,YCMP,NaN
10979,PMD,8562055,KY,"FUJIKIN OF AMERICA,INC.",1321946,"FUJIKIN OF AMERICA,INC.",YCMP,NaN
10980,PMD,8568363,KY,"TRD MANUFACTURING,INC.",1324328,"TRD MANUFACTURING,INC.",YCMP,NaN
10981,PMD,8575734,KY,COOPER WIRING DEVICES,1325920,COOPER WIRING DEVICES,YCMP,NaN
10982,PMD,10001358,KY,MG Lab Solutions Inc,99937884,MG LAB SOLUTIONS INC,YCMP,NaN

In [4]:
df_bayer

,product_id,quality_status,manufacturer_name,manufacturer_pid,model,short_description,long_description,additional_description,noun,norm,scope,site
0,101050487,SPARROW_APPROVED,CKD,SCM-FA-20B-100-T3H3-D-Z-6,SCM-FA-20B-100-T3H3-D-Z-6,air cylinder,NaN,NaN,cylinder,NaN,In,YA2Z Shiga
1,101050486,SPARROW_APPROVED,CKD,SCM-TA-25B-50-T3H3-D-B2-6,SCM-TA-25B-50-T3H3-D-B2-6,air cylinder,NaN,NaN,cylinder,NaN,In,YA2Z Shiga
2,101050485,SPARROW_APPROVED,CKD,SCM-CA-32B-100-T3H3-D-Y-8,SCM-CA-32B-100-T3H3-D-Y-8,air cylinder,NaN,NaN,cylinder,NaN,In,YA2Z Shiga
3,101050484,SPARROW_APPROVED,CKD,SSD-L-160-30-T3H3-D-N-6-IN,SSD-L-160-30-T3H3-D-N-6-IN,air cylinder,NaN,NaN,cylinder,NaN,In,YA2Z Shiga
4,101050483,SPARROW_APPROVED,CKD,SSD-KL-DB-16-40-K3H3-D-N-6-IN,SSD-KL-DB-16-40-K3H3-D-N-6-IN,air cylinder,NaN,NaN,cylinder,NaN,In,YA2Z Shiga
...,...,...,...,...,...,...,...,...,...,...,...,...
481121,61454685,TO_REVIEW,SKF,NaN,NU 308 ECMP/C3,"Rodamiento SKF, NU 308 ECMP/C3","Rodamiento SKF, NU 308 ECMP/C3",NaN,Rodamiento,NaN,NaN,QF13
481122,61454684,SPARROW_APPROVED,SKF,NaN,6308/C3,Rillenkugellager,"Rodamiento SKF, ref. 6308 C3",NaN,Rillenkugellager,NaN,NaN,QF13
481123,61454683,SPARROW_APPROVED,SKF,1206KTN9/C3,NaN,Zweireihiges Pendelkugellager ohne Dichtung,"Rodamiento SKF,1206 KTN9/C3",NaN,PENDELKUGELLAGER,NaN,NaN,QF13
481124,61454682,CLARIFICATION_NEEDED,SKF,NaN,NaN,"Rodamiento SKF,6218","Rodamiento SKF,6218",NaN,Rodamiento,NaN,NaN,QF13
481125,61454681,CLARIFICATION_NEEDED,NaN,NaN,NaN,"Tarjeta electrónica,TRANSM.CAUDAL ENDRES","Tarjeta electrónica,TRANSM.CAUDAL ENDRES",NaN,Tarjeta,NaN,NaN,QF13

In [5]:
# openai.api_key ='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' 
openai.api_key='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'

In [6]:
manufacturer_names=df_bayer['manufacturer_name']

In [7]:
manufacturer_names

0         CKD
1         CKD
2         CKD
3         CKD
4         CKD
         ...
481121    SKF
481122    SKF
481123    SKF
481124    SKF
481125    NaN
Name: manufacturer_name, Length: 481126, dtype: object

In [8]:
# Drop duplicates and remove NaN values
manufacturer_names_unique = manufacturer_names.drop_duplicates().dropna().reset_index(drop=True)
unique_names = manufacturer_names_unique.tolist()
names_test=unique_names[0:100]
print(len(names_test))

100

In [9]:
manufacturer_names_unique

0                        CKD
1        Mitsubishi Electric
2                    Habasit
3                    Nordson
4                     CONVUM
                ...
14707                KOMPASS
14708                LEYBOLD
14709                Orbitec
14710                   Roca
14711                    AMC
Name: manufacturer_name, Length: 14712, dtype: object

In [10]:
classification_results = standardize_manufacturers(names_test)
classified_df = pd.DataFrame(classification_results)

In [154]:
classified_df.to_csv('classified_df.csv')

In [11]:
standardize=classified_df

For festo

In [12]:
festo_mask = df_bayer["manufacturer_name"].astype(str).str.contains("Festo", case=False, na=False)
festo_names = df_bayer.loc[festo_mask, "manufacturer_name"]
festo_unique = festo_names.drop_duplicates().dropna().reset_index(drop=True)
festo_test = festo_unique.tolist()[0:100]

results_festo = standardize_manufacturers(festo_test)
results_festo_df = pd.DataFrame(results_festo)

In [13]:
results_festo_df

                   Original Name Standardized Name
0                          FESTO             FESTO
1              Festo AG & CO. KG             Festo
2                          Festo             Festo
3                     Festo Inc.             Festo
4              Festo Corporation             Festo
5  Festo / Pester Pac Automation             Festo
6              Festo AG & Co. KG             Festo
7                    FESTO CORP.             Festo
8                  Festo/Uhlmann             Festo
9                 Festo AG & Co.             Festo

I have the standarization for 100 sample

In [15]:
standardize

          Original Name              Standardized Name
0                   CKD                            CKD
1   Mitsubishi Electric                     Mitsubishi
2               Habasit                        Habasit
3               Nordson                        Nordson
4                CONVUM                        Myotoku
..                  ...                            ...
95             yokogawa  Yokogawa Electric Corporation
96               kuroda    Kuroda Precision Industries
97              Koganei                        Koganei
98               hisaka                         Hisaka
99             pro-face             Schneider Electric

[100 rows x 2 columns]

In [16]:
df_lfa_manufacturer=df_lfa['MCOD1']
df_lfa_manufacturer.head()

0    AAA TECHNOLOGY & SPECIALT
1            ABCO PLASTICS DIV
2             PIKOTEK/ACCUSEAL
3         ACF INDUSTRIES, INC.
4    ATLANTIC STATES CAST IRON
Name: MCOD1, dtype: object

In [17]:
# Preprocess names in both DataFrames
df_lfa['processed_name'] = df_lfa['MCOD1'].apply(preprocess_name)
standardize['processed_standardized_name'] = standardize['Standardized Name'].apply(preprocess_name)
standardize['processed_original_name'] = standardize['Original Name'].apply(preprocess_name)

In [18]:
standardize

,Original Name,Standardized Name,processed_standardized_name,processed_original_name
0,CKD,CKD,ckd,ckd
1,Mitsubishi Electric,Mitsubishi,mitsubishi,mitsubishi electric
2,Habasit,Habasit,habasit,habasit
3,Nordson,Nordson,nordson,nordson
4,CONVUM,Myotoku,myotoku,convum
...,...,...,...,...
95,yokogawa,Yokogawa Electric Corporation,yokogawa electric corporation,yokogawa
96,kuroda,Kuroda Precision Industries,kuroda precision industries,kuroda
97,Koganei,Koganei,koganei,koganei
98,hisaka,Hisaka,hisaka,hisaka
99,pro-face,Schneider Electric,schneider electric,pro face

1) Substring matching

In [113]:
standardize[standardize['processed_standardized_name']=='nippon heater']

,Original Name,Standardized Name,processed_standardized_name,processed_original_name
36,Nippon Heater,Nippon Heater,nippon heater,nippon heater

In [155]:
df_lfa[df_lfa['NAME1']=='NIPPON STEEL CORP']

,OPSYS,LIFNR,LAND1,NAME1,ADRNR,MCOD1,KTOkK,LOEVM,processed_name,matched_standardized_name,matched_non_standardized_name
464,PMD,5373319,KY,NIPPON STEEL CORP,446318,NIPPON STEEL CORP,YCMP,NaN,nippon steel corp,None,None

"nippon steel corp" does NOT appear as a substring within "nippon heater".

"nippon heater" does NOT appear as a substring within "nippon steel corp".

In [115]:
df_lfa['matched_standardized_name'] = df_lfa['processed_name'].map(lambda x: next((s for s in standardize['processed_standardized_name'] if x in s or s in x), None))
df_lfa['matched_non_standardized_name'] = df_lfa['processed_name'].map(lambda x: next((s for s in standardize['processed_original_name'] if x in s or s in x), None))

x in s → The value from df_lfa['processed_name'] is a substring of the value from the standardize list.

s in x → The value from the standardize list is a substring of the value from df_lfa['processed_name'].

In [116]:
# df_lfa['matched_standardized_name'] = df_lfa['processed_name'].map(
#     lambda x: next(
#         (
#             s for s in standardize['processed_standardized_name']
#             if x in s or s in x or any(word in s.split() for word in x.split())
#         ),
#         None
#     )
# )
# df_lfa['matched_non_standardized_name'] = df_lfa['processed_name'].map(
#     lambda x: next(
#         (
#             s for s in standardize['processed_original_name']
#             if x in s or s in x or any(word in s.split() for word in x.split())
#         ),
#         None
#     )
# )

In [117]:
# # Merge based on the processed names (approximate matching)
# df_lfa['matched_standardized_name'] = df_lfa['processed_name'].map(lambda x: next((s for s in standardized['processed_standardized_name'] if x in s or s in x), None))

In [118]:
df_lfa_no_dup = df_lfa.drop_duplicates(subset=['processed_name'], keep='first')

Taking matched values

In [119]:
standardize

,Original Name,Standardized Name,processed_standardized_name,processed_original_name
0,CKD,CKD,ckd,ckd
1,Mitsubishi Electric,Mitsubishi,mitsubishi,mitsubishi electric
2,Habasit,Habasit,habasit,habasit
3,Nordson,Nordson,nordson,nordson
4,CONVUM,Myotoku,myotoku,convum
...,...,...,...,...
95,yokogawa,Yokogawa Electric Corporation,yokogawa electric corporation,yokogawa
96,kuroda,Kuroda Precision Industries,kuroda precision industries,kuroda
97,Koganei,Koganei,koganei,koganei
98,hisaka,Hisaka,hisaka,hisaka
99,pro-face,Schneider Electric,schneider electric,pro face

In [120]:
df_lfa_filtered = df_lfa_no_dup[(df_lfa_no_dup['matched_standardized_name'].notna()) | (df_lfa_no_dup['matched_non_standardized_name'].notna())]
df_lfa_filtered

,OPSYS,LIFNR,LAND1,NAME1,ADRNR,MCOD1,KTOkK,LOEVM,processed_name,matched_standardized_name,matched_non_standardized_name
94,PMD,5369133,KY,BUSSMANN DIV./COOPER IND,445946,BUSSMANN DIV./COOPER IND,YCMP,NaN,bussmann div cooper ind,buss,None
149,PMD,5369753,KY,"CONTINENTAL MFG,INC",445988,"CONTINENTAL MFG,INC",YCMP,NaN,continental mfg inc,continental,continental
262,PMD,5371030,KY,GATES,446111,GATES,YCMP,NaN,gates,gates corporation,gates unitta asia
465,PMD,5373327,KY,NKK CORPORATION,446310,NKK CORPORATION,YCMP,NaN,nkk corporation,nkk,None
647,PMD,5375362,KY,SUMITOMO METALS INDUSTRIES,446476,SUMITOMO METALS INDUSTRIE,YCMP,NaN,sumitomo metals industrie,sumitomo,None
...,...,...,...,...,...,...,...,...,...,...,...
10495,PMD,7758471,KY,PANASONIC,999013,PANASONIC,YCMP,NaN,panasonic,panasonic,panasonic
10626,PMD,7848148,KY,KOYO ELECTRONICS IND CO LTD,5327013,KOYO ELECTRONICS IND CO L,YCMP,NaN,koyo electronics ind co l,None,koyo
10720,PMD,8097998,KY,BUSS-SMS-CANZLER,99888769,BUSS-SMS-CANZLER,YCMP,NaN,buss sms canzler,buss,None
10923,PMD,8098678,KY,TECHNO,99890343,TECHNO,YCMP,NaN,techno,sinfonia technology,sinfonia technology
10950,PMD,8247931,KY,FREUDENBERG-NOK,1238145,FREUDENBERG-NOK,YCMP,NaN,freudenberg nok,nok,nok

In [121]:
# df_lfa_filtered.to_excel('df_matched.xlsx')

In [135]:
matched_words = set()
for name in df_lfa['matched_standardized_name'].dropna().unique():
    matched_words.update(name.split())  # Split into words and add to the set

# Extract all standardized names
standardize_values = standardize['processed_standardized_name'].unique()

# Identify unmatched values where no single word was matched
unmatched_values = [
    val for val in standardize_values
    if not any(word in matched_words for word in val.split())
]

In [157]:
len(unmatched_values)

35

In [136]:
unmatched_values

['myotoku',
 'koganei',
 'maruyasu',
 'kyoto seisakusho',
 'omori',
 'asahi kasei',
 'misumi',
 'sankyo',
 'kintsune',
 'nippon heater',
 'nihon heater',
 'sanwa',
 'iai',
 'mitsuboshi',
 'kofloc',
 'sato parts',
 'hasegawa iron',
 'mankasi seisakusho',
 'polimax belt',
 'gs yuasa',
 'kyoto seisakusyo',
 'kyowa',
 'anritsu',
 'miki pulley',
 'nihon densan shinpo',
 'xks',
 'nichiyasu',
 'omori machinery co ltd',
 'jtekt',
 'futaku',
 'beltcon',
 'toyox',
 'azbil',
 'tsubakimoto chain',
 'hisaka']

In [124]:
df_lfa_filtered

,OPSYS,LIFNR,LAND1,NAME1,ADRNR,MCOD1,KTOkK,LOEVM,processed_name,matched_standardized_name,matched_non_standardized_name
94,PMD,5369133,KY,BUSSMANN DIV./COOPER IND,445946,BUSSMANN DIV./COOPER IND,YCMP,NaN,bussmann div cooper ind,buss,None
149,PMD,5369753,KY,"CONTINENTAL MFG,INC",445988,"CONTINENTAL MFG,INC",YCMP,NaN,continental mfg inc,continental,continental
262,PMD,5371030,KY,GATES,446111,GATES,YCMP,NaN,gates,gates corporation,gates unitta asia
465,PMD,5373327,KY,NKK CORPORATION,446310,NKK CORPORATION,YCMP,NaN,nkk corporation,nkk,None
647,PMD,5375362,KY,SUMITOMO METALS INDUSTRIES,446476,SUMITOMO METALS INDUSTRIE,YCMP,NaN,sumitomo metals industrie,sumitomo,None
...,...,...,...,...,...,...,...,...,...,...,...
10495,PMD,7758471,KY,PANASONIC,999013,PANASONIC,YCMP,NaN,panasonic,panasonic,panasonic
10626,PMD,7848148,KY,KOYO ELECTRONICS IND CO LTD,5327013,KOYO ELECTRONICS IND CO L,YCMP,NaN,koyo electronics ind co l,None,koyo
10720,PMD,8097998,KY,BUSS-SMS-CANZLER,99888769,BUSS-SMS-CANZLER,YCMP,NaN,buss sms canzler,buss,None
10923,PMD,8098678,KY,TECHNO,99890343,TECHNO,YCMP,NaN,techno,sinfonia technology,sinfonia technology
10950,PMD,8247931,KY,FREUDENBERG-NOK,1238145,FREUDENBERG-NOK,YCMP,NaN,freudenberg nok,nok,nok

In [132]:
# df_lfa_filtered.to_excel('df_matched.xlsx')

In [126]:
# df_lfa_filtered[df_lfa_filtered['matched_standardized_name']=='continental']

In [127]:
df_lfa_filtered[df_lfa_filtered["MCOD1"].astype(str).str.contains("Festo", case=False, na=False)]

,OPSYS,LIFNR,LAND1,NAME1,ADRNR,MCOD1,KTOkK,LOEVM,processed_name,matched_standardized_name,matched_non_standardized_name
2793,PMD,7125681,KY,FESTO,716526,FESTO,YCMP,NaN,festo,festo,festo

In [128]:
# duplicates_df = df_lfa[df_lfa.duplicated(subset=['MCOD1'], keep=False)]
# duplicates_df

In [129]:
df_lfa_filtered.matched_standardized_name.value_counts()

matched_standardized_name
continental                    22
buss                            5
hitachi                         5
mitsubishi                      4
nsd                             3
orion                           3
sinfonia technology             3
sumitomo                        3
kuroda precision industries     2
ckd                             2
toshiba                         2
taiyo                           2
nsk                             2
smc corporation                 2
schneider electric              2
panasonic                       2
yokogawa                        2
nkk                             2
ntn                             2
nok                             2
nidec                           1
habasit                         1
nordson                         1
nitta                           1
panasonic corporation           1
denso                           1
yaskawa                         1
tdk                             1
idec                            1
isuzu                           1
omron                           1
fuji electric                   1
festo                           1
pisco                           1
bando                           1
keyence                         1
thk                             1
moritex                         1
oriental motor                  1
cosel                           1
gates corporation               1
forbo                           1
Name: count, dtype: int64

In [33]:
df_lfa['matched_non_standardized_name'] = df_lfa['processed_name'].map(lambda x: next((s for s in standardize['Original Name'] if x in s or s in x), None))

In [34]:
df_lfa.head()

,OPSYS,LIFNR,LAND1,NAME1,ADRNR,MCOD1,KTOkK,LOEVM,processed_name,matched_non_standardized_name,matched_standardized_name
0,PMD,5368080,KY,AAA Technology & Specialties Co,445840,AAA TECHNOLOGY & SPECIALT,YCMP,NaN,aaa technology specialt,None,None
1,PMD,5368099,KY,ABCO PLASTICS DIV,445835,ABCO PLASTICS DIV,YCMP,NaN,abco plastics div,None,None
2,PMD,5368102,KY,Pikotek/AccuSeal,445813,PIKOTEK/ACCUSEAL,YCMP,NaN,pikotek accuseal,None,None
3,PMD,5368110,KY,"ACF INDUSTRIES, INC.",445841,"ACF INDUSTRIES, INC.",YCMP,NaN,acf industries inc,None,None
4,PMD,5368129,KY,Atlantic States Cast Iron Pipe C,445777,ATLANTIC STATES CAST IRON,YCMP,NaN,atlantic states cast iron,None,None

In [35]:
df_lfa.shape

(10983, 11)

In [36]:
df_lfa.matched_non_standardized_name.value_counts()

matched_non_standardized_name
hitachi              5
panasonic            2
tsubaki              2
yokogawa             2
yuasa                1
keyence              1
fuji electric        1
pro-face             1
isuzu                1
Gates Unitta Asia    1
ASAHI electronics    1
CKD                  1
Name: count, dtype: int64

In [37]:
# Count None (or NaN) values in the specified columns
none_counts = df_lfa[['matched_standardized_name', 'matched_non_standardized_name']].isna().sum()

# Display the results
none_counts

matched_standardized_name        10890
matched_non_standardized_name    10964
dtype: int64

### Benchmarks

For matched nouns

In [156]:
(83/104)*100

79.8076923076923

For unmatched nouns

In [149]:
unmatched_values

['myotoku',
 'koganei',
 'maruyasu',
 'kyoto seisakusho',
 'omori',
 'asahi kasei',
 'misumi',
 'sankyo',
 'kintsune',
 'nippon heater',
 'nihon heater',
 'sanwa',
 'iai',
 'mitsuboshi',
 'kofloc',
 'sato parts',
 'hasegawa iron',
 'mankasi seisakusho',
 'polimax belt',
 'gs yuasa',
 'kyoto seisakusyo',
 'kyowa',
 'anritsu',
 'miki pulley',
 'nihon densan shinpo',
 'xks',
 'nichiyasu',
 'omori machinery co ltd',
 'jtekt',
 'futaku',
 'beltcon',
 'toyox',
 'azbil',
 'tsubakimoto chain',
 'hisaka']

asahi/nippon heater

In [150]:
# Break unmatched values into individual words
unmatched_words = set(word.lower() for phrase in unmatched_values for word in phrase.split())

# Function to find word matches
def word_match(text, words):
    if pd.isna(text):
        return False
    # Extract individual words from the text
    text_words = re.findall(r'\w+', text.lower())  # Splits by non-alphanumeric characters
    return any(word in text_words for word in words)

# Apply the function to filter matches in df_lfa['processed_name']
df_matches = df_lfa[df_lfa['processed_name'].apply(lambda x: word_match(x, unmatched_words))]

In [151]:
df_lfa[df_lfa['NAME1']=='NIPPON STEEL CORP']

,OPSYS,LIFNR,LAND1,NAME1,ADRNR,MCOD1,KTOkK,LOEVM,processed_name,matched_standardized_name,matched_non_standardized_name
464,PMD,5373319,KY,NIPPON STEEL CORP,446318,NIPPON STEEL CORP,YCMP,NaN,nippon steel corp,None,None

In [ ]:
# df_matches

,OPSYS,LIFNR,LAND1,NAME1,ADRNR,MCOD1,KTOkK,LOEVM,processed_name,matched_standardized_name,matched_non_standardized_name
4,PMD,5368129,KY,Atlantic States Cast Iron Pipe C,445777,ATLANTIC STATES CAST IRON,YCMP,NaN,atlantic states cast iron,None,None
5,PMD,5368137,KY,ACCESSIBLE PRODUCTS CO.,445815,ACCESSIBLE PRODUCTS CO.,YCMP,NaN,accessible products co,None,None
6,PMD,5368145,KY,AMERICAN DUCTILE IRON PIPE,445842,AMERICAN DUCTILE IRON PIP,YCMP,NaN,american ductile iron pip,None,None
7,PMD,5368153,KY,ADVANCE TRANSFORMER CO.,445879,ADVANCE TRANSFORMER CO.,YCMP,NaN,advance transformer co,None,None
9,PMD,5368188,KY,ANCHOR FLANGE CO.,445814,ANCHOR FLANGE CO.,YCMP,NaN,anchor flange co,None,None
...,...,...,...,...,...,...,...,...,...,...,...
10940,PMD,8102314,KY,Therm Coil Mfg Co,99908483,THERM COIL MFG CO,YCMP,NaN,therm coil mfg co,None,None
10942,PMD,8105533,KY,PROBST & CLASS GMBH & CO KG,1232030,PROBST & CLASS GMBH & CO,YCMP,NaN,probst class gmbh co,None,None
10949,PMD,8231598,KY,HAIGHT PUMPS/BAKER MFG CO,1235475,HAIGHT PUMPS/BAKER MFG CO,YCMP,NaN,haight pumps baker mfg co,None,None
10956,PMD,8295073,KY,CLARK SEALS LTD,1247361,CLARK SEALS LTD,YCMP,NaN,clark seals ltd,None,None
10959,PMD,8392109,KY,VEM MOTORS UK LTD,1259640,VEM MOTORS UK LTD,YCMP,NaN,vem motors uk ltd,None,None

2) Just word-matching. Makes no sense

In [39]:
standardize

,Original Name,Standardized Name,processed_standardized_name,processed_original_name
0,CKD,CKD,ckd,ckd
1,Mitsubishi Electric,Mitsubishi,mitsubishi,mitsubishi electric
2,Habasit,Habasit,habasit,habasit
3,Nordson,Nordson,nordson,nordson
4,CONVUM,Myotoku,myotoku,convum
...,...,...,...,...
95,yokogawa,Yokogawa Electric Corporation,yokogawa electric corporation,yokogawa
96,kuroda,Kuroda Precision Industries,kuroda precision industries,kuroda
97,Koganei,Koganei,koganei,koganei
98,hisaka,Hisaka,hisaka,hisaka
99,pro-face,Schneider Electric,schneider electric,pro face

In [38]:
df_lfa

,OPSYS,LIFNR,LAND1,NAME1,ADRNR,MCOD1,KTOkK,LOEVM,processed_name,matched_non_standardized_name,matched_standardized_name
0,PMD,5368080,KY,AAA Technology & Specialties Co,445840,AAA TECHNOLOGY & SPECIALT,YCMP,NaN,aaa technology specialt,None,None
1,PMD,5368099,KY,ABCO PLASTICS DIV,445835,ABCO PLASTICS DIV,YCMP,NaN,abco plastics div,None,None
2,PMD,5368102,KY,Pikotek/AccuSeal,445813,PIKOTEK/ACCUSEAL,YCMP,NaN,pikotek accuseal,None,None
3,PMD,5368110,KY,"ACF INDUSTRIES, INC.",445841,"ACF INDUSTRIES, INC.",YCMP,NaN,acf industries inc,None,None
4,PMD,5368129,KY,Atlantic States Cast Iron Pipe C,445777,ATLANTIC STATES CAST IRON,YCMP,NaN,atlantic states cast iron,None,None
...,...,...,...,...,...,...,...,...,...,...,...
10978,PMD,8562020,KY,CORROSION PRODUCTS OF TEXAS,1321945,CORROSION PRODUCTS OF TEX,YCMP,NaN,corrosion products of tex,None,None
10979,PMD,8562055,KY,"FUJIKIN OF AMERICA,INC.",1321946,"FUJIKIN OF AMERICA,INC.",YCMP,NaN,fujikin of america inc,None,None
10980,PMD,8568363,KY,"TRD MANUFACTURING,INC.",1324328,"TRD MANUFACTURING,INC.",YCMP,NaN,trd manufacturing inc,None,None
10981,PMD,8575734,KY,COOPER WIRING DEVICES,1325920,COOPER WIRING DEVICES,YCMP,NaN,cooper wiring devices,None,None
10982,PMD,10001358,KY,MG Lab Solutions Inc,99937884,MG LAB SOLUTIONS INC,YCMP,NaN,mg lab solutions inc,None,None

In [51]:
df_lfa['matched_standardized_name'] = df_lfa['processed_name'].map(lambda x: word_based_match(x, standardize['processed_standardized_name']))
df_lfa['matched_non_standardized_name'] = df_lfa['processed_name'].map(lambda x: word_based_match(x, standardize['processed_original_name']))

In [52]:
df_lfa

,OPSYS,LIFNR,LAND1,NAME1,ADRNR,MCOD1,KTOkK,LOEVM,processed_name,matched_non_standardized_name,matched_standardized_name,best_standardized_match,standardized_similarity,best_non_standardized_match,non_standardized_similarity
0,PMD,5368080,KY,AAA Technology & Specialties Co,445840,AAA TECHNOLOGY & SPECIALT,YCMP,NaN,aaa technology specialt,sinfonia technology,sinfonia technology,sinfonia technology,0.442,sinfonia technology,0.442000
1,PMD,5368099,KY,ABCO PLASTICS DIV,445835,ABCO PLASTICS DIV,YCMP,NaN,abco plastics div,None,None,sato parts,0.264,sato parts,0.264000
2,PMD,5368102,KY,Pikotek/AccuSeal,445813,PIKOTEK/ACCUSEAL,YCMP,NaN,pikotek accuseal,None,None,kyoto seisakusho,0.264,pro face,0.300000
3,PMD,5368110,KY,"ACF INDUSTRIES, INC.",445841,"ACF INDUSTRIES, INC.",YCMP,NaN,acf industries inc,buss inc usa,tecnetics industries,tecnetics industries,0.478,buss inc usa,0.362000
4,PMD,5368129,KY,Atlantic States Cast Iron Pipe C,445777,ATLANTIC STATES CAST IRON,YCMP,NaN,atlantic states cast iron,hasegawa iron,hasegawa iron,gates corporation,0.312,hasegawa iron,0.302000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10978,PMD,8562020,KY,CORROSION PRODUCTS OF TEXAS,1321945,CORROSION PRODUCTS OF TEX,YCMP,NaN,corrosion products of tex,None,None,kuroda precision industries,0.252,moritex,0.228000
10979,PMD,8562055,KY,"FUJIKIN OF AMERICA,INC.",1321946,"FUJIKIN OF AMERICA,INC.",YCMP,NaN,fujikin of america inc,buss inc usa,None,fuji electric,0.306,fuji electric,0.306000
10980,PMD,8568363,KY,"TRD MANUFACTURING,INC.",1324328,"TRD MANUFACTURING,INC.",YCMP,NaN,trd manufacturing inc,buss inc usa,None,omori machinery co ltd,0.252,buss inc usa,0.260000
10981,PMD,8575734,KY,COOPER WIRING DEVICES,1325920,COOPER WIRING DEVICES,YCMP,NaN,cooper wiring devices,None,None,tecnetics industries,0.234,schneider electric,0.216000
10982,PMD,10001358,KY,MG Lab Solutions Inc,99937884,MG LAB SOLUTIONS INC,YCMP,NaN,mg lab solutions inc,buss inc usa,None,smc corporation,0.240,buss inc usa,0.330667

3) Matching based on similarity

In [42]:
def find_best_match(name, candidates):
    """Finds the best match from a list using hybrid similarity."""
    best_match, best_score = None, 0
    
    for candidate in candidates:
        score = hybrid_similarity(name, candidate)
        if score > best_score:
            best_match, best_score = candidate, score
    
    return best_match, best_score

In [43]:
df_lfa[['best_standardized_match', 'standardized_similarity']] = df_lfa['processed_name'].apply(
    lambda x: find_best_match(x, standardize['processed_standardized_name'])
).apply(pd.Series)

df_lfa[['best_non_standardized_match', 'non_standardized_similarity']] = df_lfa['processed_name'].apply(
    lambda x: find_best_match(x, standardize['processed_original_name'])
).apply(pd.Series)

In [47]:
df_lfa

,OPSYS,LIFNR,LAND1,NAME1,ADRNR,MCOD1,KTOkK,LOEVM,processed_name,matched_non_standardized_name,matched_standardized_name,best_standardized_match,standardized_similarity,best_non_standardized_match,non_standardized_similarity
0,PMD,5368080,KY,AAA Technology & Specialties Co,445840,AAA TECHNOLOGY & SPECIALT,YCMP,NaN,aaa technology specialt,None,None,sinfonia technology,0.442,sinfonia technology,0.442000
1,PMD,5368099,KY,ABCO PLASTICS DIV,445835,ABCO PLASTICS DIV,YCMP,NaN,abco plastics div,None,None,sato parts,0.264,sato parts,0.264000
2,PMD,5368102,KY,Pikotek/AccuSeal,445813,PIKOTEK/ACCUSEAL,YCMP,NaN,pikotek accuseal,None,None,kyoto seisakusho,0.264,pro face,0.300000
3,PMD,5368110,KY,"ACF INDUSTRIES, INC.",445841,"ACF INDUSTRIES, INC.",YCMP,NaN,acf industries inc,None,None,tecnetics industries,0.478,buss inc usa,0.362000
4,PMD,5368129,KY,Atlantic States Cast Iron Pipe C,445777,ATLANTIC STATES CAST IRON,YCMP,NaN,atlantic states cast iron,None,None,gates corporation,0.312,hasegawa iron,0.302000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10978,PMD,8562020,KY,CORROSION PRODUCTS OF TEXAS,1321945,CORROSION PRODUCTS OF TEX,YCMP,NaN,corrosion products of tex,None,None,kuroda precision industries,0.252,moritex,0.228000
10979,PMD,8562055,KY,"FUJIKIN OF AMERICA,INC.",1321946,"FUJIKIN OF AMERICA,INC.",YCMP,NaN,fujikin of america inc,None,None,fuji electric,0.306,fuji electric,0.306000
10980,PMD,8568363,KY,"TRD MANUFACTURING,INC.",1324328,"TRD MANUFACTURING,INC.",YCMP,NaN,trd manufacturing inc,None,None,omori machinery co ltd,0.252,buss inc usa,0.260000
10981,PMD,8575734,KY,COOPER WIRING DEVICES,1325920,COOPER WIRING DEVICES,YCMP,NaN,cooper wiring devices,None,None,tecnetics industries,0.234,schneider electric,0.216000
10982,PMD,10001358,KY,MG Lab Solutions Inc,99937884,MG LAB SOLUTIONS INC,YCMP,NaN,mg lab solutions inc,None,None,smc corporation,0.240,buss inc usa,0.330667